@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

/***********************************
             HEADER
***********************************/
.main-header {
  display: flex;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
}
@media (max-width: 768px) {
  .main-header {
    flex-direction: column-reverse;
  }
}

#menu {
  display: none;
}
#menu:checked + .nav-bar {
  display: block;
}
#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: var(--color-toggle);
}

/***********************************
             NAV BAR
***********************************/
.nav-bar {
  /*     background: rgb(29,0,36);
      background: linear-gradient(270deg, rgba(29,0,36,1) 13%, rgba(9,17,121,1) 26%, rgba(68,125,9,1) 40%, rgba(138,173,6,1) 53%, rgba(219,174,7,1) 60%, rgba(255,16,0,1) 89%); */
  background-color: var(--color-header);
  border-bottom: 4px solid var(--color-bordes);
}
@media (max-width: 768px) {
  .nav-bar {
    background: rgba(65, 221, 28, 0.4);
    /* border-radius: 16px; */
    box-shadow: 0 8px 35px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(65, 221, 28, 0.48);
  }
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-bar__nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.nav-bar__nav-item {
  text-align: center;
  border: 2px black solid;
  margin: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
@media (max-width: 768px) {
  .nav-bar__nav-item {
    border: none;
  }
  .nav-bar__nav-item:nth-child(1):hover {
    background-color: rgb(248, 16, 16);
  }
  .nav-bar__nav-item:nth-child(2):hover {
    background-color: rgb(247, 163, 7);
  }
  .nav-bar__nav-item:nth-child(3):hover {
    background-color: rgb(4, 141, 4);
  }
  .nav-bar__nav-item:nth-child(4):hover {
    background-color: rgb(10, 10, 240);
  }
}
.nav-bar__nav-link {
  display: block;
  color: var(--color-toggle);
  font-weight: 700;
  padding: 1em 2em;
  text-decoration: none;
  border: 2px black solid;
  margin: 2px;
}
@media (max-width: 768px) {
  .nav-bar__nav-link {
    border: none;
    color: black;
    font-weight: 700;
  }
}
.nav-bar__nav-link:hover {
  color: black;
  background-color: rgba(225, 236, 222, 0.4);
}
@media (max-width: 768px) {
  .nav-bar__nav-link:hover {
    color: white;
  }
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

/***********************************
             SEARCH BAR
***********************************/
.search-bar {
  background-color: var(--color-header);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px solid var(--color-bordes);
}
.search-bar__logo-container, .search-bar__form-container {
  padding: 1em;
}
.search-bar__logo-container {
  /* background-color: rgba(189, 204, 172, 0.836); */
  border-left: 4px solid var(--color-bordes);
  color: transparent;
  background: no-repeat center/90% url(/icons/logo2.png);
}
@media (max-width: 768px) {
  .search-bar__logo-container {
    border: none;
  }
}
.search-bar__form-container {
  /* background-color: rgba(65, 221, 28, 0.4); */
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  /*         @media (max-width: 768px) {
              position: relative;
              right: 3em;

          } */
}
.search-bar__form-label {
  display: none;
}
.search-bar__form-search {
  background-color: var(--color-search);
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 4px;
}
.search-bar__form-submit {
  background: no-repeat center/80% url(/icons/lupa.svg);
  background-color: var(--color-search);
  color: transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.search-bar__carrito-container {
  flex: 0 0 3.5em;
  background: no-repeat center/100% url(/icons/carrito.svg);
  color: transparent;
  /* background-color: rgba(189, 204, 172, 0.836); */
  margin-right: 25px;
  padding-right: 25px;
  cursor: pointer;
  border-left: 4px solid var(--color-bordes);
}
@media (max-width: 768px) {
  .search-bar__carrito-container {
    border: none;
  }
}

/***********************************
             MENU TOGGLE
***********************************/
.menu-toggle {
  display: none;
  flex: 0 0 3em;
  cursor: pointer;
  position: relative;
}
.menu-toggle__label {
  display: block;
  background-color: black;
  height: 100%;
}
.menu-toggle__top-bread, .menu-toggle__meat, .menu-toggle__bottom-bread {
  display: block;
  background-color: rgb(87, 86, 86);
  height: 0.2em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
}
.menu-toggle__top-bread {
  top: 0.8em;
}
.menu-toggle__meat {
  top: 50%;
  margin-top: -0.1em;
}
.menu-toggle__bottom-bread {
  bottom: 0.8em;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
    background-color: black;
  }
}

body {
  background: repeat url(/img/inicio/inicio-fondo-3.jpg);
}

.section-cards {
  font-family: "Changa", sans-serif;
  padding-left: 15em;
  padding-right: 15em;
}
@media (max-width: 768px) {
  .section-cards {
    padding-left: 0;
    padding-right: 0;
  }
}
.section-cards__header {
  text-align: center;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .section-cards__header {
    font-size: 20px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  text-align: center;
}
@media (max-width: 768px) {
  .cards-container {
    gap: 1em;
  }
}

.body-contacto {
  background-position: 50% -50%;
  /*         @media (max-width: 768px) {
              background: no-repeat url(/img/inicio/inicio-fondo-4.jpg)
          } */
}

.main-header-contacto {
  font-family: "Orbitron", sans-serif;
}

.main-contacto {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  font-family: "Changa", sans-serif;
  background-position: 50% -50%;
  /* background: no-repeat top url(/img/contacto/damian-zaleski-RYyr-k3Ysqg-unsplash.jpg); */
}
@media (max-width: 768px) {
  .main-contacto {
    /* width: 100%; */
    /* background: repeat right bottom url(/img/inicio/inicio-fondo-4.jpg); */
    /* background-position: 98% 100%; */
    flex-direction: column;
  }
}

.section-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
@media (max-width: 768px) {
  .section-contacto {
    align-items: flex-start;
  }
}
.section-contacto__header {
  margin-top: 10px;
  font-size: 25px;
}
.section-contacto__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 20px;
}
.section-contacto__form > p {
  font-size: 15px;
}
.section-contacto__label, .section-contacto__input {
  align-self: start;
}
.section-contacto__label {
  font-weight: 600;
}
.section-contacto__input, .section-contacto__textarea {
  /* height: 25px; */
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid var(--color-bordes);
  box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
}
.section-contacto__input:focus, .section-contacto__textarea:focus {
  background-color: var(--color-header);
}
.section-contacto__textarea {
  height: 100%;
}
.section-contacto__btn {
  width: 70px;
  height: 90px;
  border-radius: 4px;
  border: 2px solid var(--color-bordes);
  box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
  background-color: var(--color-toggle);
  color: var(--color-search);
  margin-top: 5px;
  cursor: pointer;
}
.section-contacto__btn:hover {
  background-color: var(--color-header);
  color: black;
}

.aside {
  width: 90vw;
}
.aside__nav, .aside__lista {
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .aside__nav, .aside__lista {
    width: 80vw;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
.aside__nav__lista, .aside__lista__lista {
  display: flex;
}

.aside__lista__mapa {
  width: 500px;
  height: 380px;
  display: flex;
  border-radius: 4px;
  border: 3px solid var(--color-bordes);
  box-shadow: 0 2px 4px var(--color-toggle);
  position: relative;
  top: 10px;
  right: 5px;
}
@media (max-width: 768px) {
  .aside__lista__mapa {
    height: 200px;
    width: 300px;
    right: 10px;
    box-shadow: none;
  }
}
@media (min-width: 768px) and (max-width: 1260px) {
  .aside__lista__mapa {
    max-width: 350px;
  }
}

#instagram {
  color: transparent;
  background: no-repeat center/40% url(/icons/instagram-brands.svg);
}

#facebook {
  color: transparent;
  background: no-repeat center/40% url(/icons/square-facebook-brands.svg);
}

#twitter {
  color: transparent;
  background: no-repeat center/55% url(/icons/square-twitter-brands.svg);
}

ul {
  list-style-type: none;
}

.main-nosotros {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Changa", sans-serif;
  background: no-repeat top url(/img/nosotros/nosotros-mediana-nueva.jpg);
  /* &__nav {

  }
   */
}
.main-nosotros__header, .main-nosotros__article, .main-nosotros__aside, .main-nosotros__nav {
  text-align: center;
  width: 600px;
  align-self: center;
  font-size: 19px;
}
@media (max-width: 768px) {
  .main-nosotros__header, .main-nosotros__article, .main-nosotros__aside, .main-nosotros__nav {
    width: 300px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.main-nosotros__header {
  height: 80px;
}
.main-nosotros__article {
  height: 170px;
  /* margin-top: 10px; */
}
.main-nosotros__aside {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 160px;
}
.main-nosotros span {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-toggle);
  text-shadow: 0px 0px 10px;
}

.card {
  outline: none;
  flex-grow: 1;
  width: 220px;
  max-width: 250px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
  border-radius: 5px;
  border: 3px solid var(--color-bordes);
  transition: all 0.4s;
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Auriculares Sony";
      } */
}
.card:hover, .card:focus {
  transform: perspective(1.03, 0.5) skewX();
  transform-origin: top;
  box-shadow: 0 27px 58px rgba(0, 0, 0, 0.05), 0 3 3px rgba(0, 0, 0, 0.01);
  height: 400px;
}
.card:nth-child(2n) {
  background: linear-gradient(90deg, rgba(188, 65, 202, 0.575) 39%, rgba(101, 7, 110, 0.589) 99%);
  color: rgba(6, 75, 11, 0.993);
}
.card:nth-child(2n+1) {
  background: linear-gradient(90deg, rgba(54, 167, 63, 0.596) 39%, rgba(59, 153, 35, 0.527) 100%);
  color: var(--color-toggle);
}
.card__image-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.card:hover .card__image-container, .card:focus .card__image-container {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.card__image {
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:hover .card__image, .card:focus .card__image {
  transform: rotate(1turn);
  transition: 0.2s;
  transform-origin: center;
}
@media (max-width: 768px) {
  .card:hover .card__image, .card:focus .card__image {
    transform: scale(1.8) rotate(5deg);
    transform-origin: center;
  }
}
.card__content {
  padding: 1em;
}
.card__description {
  background: rgba(115, 142, 211, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(115, 142, 211, 0.11);
  text-align: center;
  font-size: 13px;
  color: black;
  font-weight: 600;
}
.card:nth-of-type(2) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Cámara Canon";
      } */
}
.card:nth-of-type(2) img {
  background: no-repeat top right url(/img/productos/camara-canon.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}
.card:nth-of-type(3) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Celular Samsung";
      } */
}
.card:nth-of-type(3) img {
  background: no-repeat top url(/img/productos/celular-samsung.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}
.card:nth-of-type(4) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Chromecast";
      } */
}
.card:nth-of-type(4) img {
  background: no-repeat top url(/img/productos/chromecast-google.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}
.card:nth-of-type(5) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Drone Mavic";
      } */
}
.card:nth-of-type(5) img {
  background: no-repeat top url(/img/productos/dji-mavic-2-pro.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}
.card:nth-of-type(6) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Iphone 12";
      } */
}
.card:nth-of-type(6) img {
  background: no-repeat top url(/img/productos/apple-iphone-12.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}
.card:nth-of-type(7) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Modem Motorola";
      } */
}
.card:nth-of-type(7) img {
  background: no-repeat top url(/img/productos/modem-motorola.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}
.card:nth-of-type(8) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Motorola MotoE7";
      } */
}
.card:nth-of-type(8) img {
  background: no-repeat top url(/img/productos/motorola-moto-e7.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}
.card:nth-of-type(9) {
  /*     .card__heading {
      visibility: hidden;
      position: relative;
      }

      .card__heading:after {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      content: "Drone Dji";
      } */
}
.card:nth-of-type(9) img {
  background: no-repeat top url(/img/productos/drone-dji.jpg);
  background-size: 80px 50px;
  background-size: 100% 80%;
}

a {
  text-decoration: none;
}

.btn__agregar {
  background: no-repeat center/100% url(/icons/carrito-agregar.svg);
  color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 3px 6px var(--color-bordes), 0 4px 8px var(--color-toggle);
  background-color: rgba(236, 132, 12, 0.829);
  border-radius: 4px;
  border: 2px solid rgba(26, 25, 25, 0.63);
  position: relative;
  top: 3px;
  left: 80px;
}
.btn__agregar:hover {
  filter: brightness(1.25);
}

.container-alta {
  padding: 10px;
  font-family: "Changa", sans-serif;
}
.container-alta h1, .container-alta h2 {
  font-size: 35px;
  color: black;
}
.container-alta div, .container-alta input {
  width: 300px;
  display: block;
  margin-bottom: 1px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid var(--color-bordes);
  box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
}
.container-alta div:focus, .container-alta input:focus {
  background-color: var(--color-header);
}
.container-alta button {
  display: block;
  width: 80px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 70px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid var(--color-bordes);
  box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
  background-color: var(--color-toggle);
  color: var(--color-search);
  margin-top: 5px;
}
.container-alta button:hover {
  background-color: var(--color-header);
  color: black;
}
.container-alta input[type=checkbox] {
  display: inline;
  width: 15px;
  height: 15px;
  margin-top: 10px;
}
.container-alta form div {
  border: 1px solid crimson;
  background-color: gold;
  color: darkred;
  margin: 2px 0 10px 0;
  border-radius: 5px;
  display: none;
}
.container-alta table, .container-alta th, .container-alta td {
  border: 1px solid black;
  border-collapse: collapse;
}
.container-alta table {
  width: 90%;
}
.container-alta #listado-productos {
  width: 100%;
}

.section-carrito {
  display: none;
  position: fixed;
  background-color: #f1f2f3;
  z-index: 1;
  top: 80px;
  left: auto;
  right: 0;
  bottom: 80px;
  width: 100%;
  box-shadow: 0.3em 0.3em 10em 0.3em rgb(0, 0, 0);
  font-family: "Changa", sans-serif;
  padding: 1rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .section-carrito {
    font-size: 0.8rem;
  }
}
.section-carrito--visible {
  display: block;
}

.btn--cerrar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn--cerrar img {
  width: 15px;
  background-color: rgba(243, 23, 23, 0.38);
}

.btn__enviarCarrito, .boton__carrito {
  width: 45px;
  cursor: pointer;
  margin-bottom: 10px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid var(--color-bordes);
  background-color: var(--color-toggle);
  color: var(--color-search);
  margin-top: 5px;
}
.btn__enviarCarrito:hover, .boton__carrito:hover {
  background-color: var(--color-header);
  color: black;
}

.btn__enviarCarrito {
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 80px;
  height: 35px;
}

/* .container__table {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

    @media (max-width: 768px)  {
        width: 50vw;
    }  
} */
.table__carrito {
  table-layout: fixed;
  width: 100%;
  margin-block: 1em;
  border-radius: 4px;
  overflow: hidden;
  /*     & table {
      display: table;
      border-collapse: separate;
      box-sizing: border-box;
      text-indent: initial;
      border-spacing: 2px;
      border-color: grey;
      } */
  /*     & thead {
  	th {
  		background-color: var(--color-header)
  	}
      }

      & tbody {
  	tr {
  		&:hover {
  			background-color: rgba(255,255,255,0.3);
  		}
  	}

      td {
  		position: relative;
  		&:hover {
  			&:before {
  				content: "";
  				position: absolute;
  				left: 0;
  				right: 0;
  				top: -9999px;
  				bottom: -9999px;
  				background-color: rgba(255,255,255,0.2);
  				z-index: -1;
  			}
          }
      }
  }  */
}
.table__carrito th, .table__carrito td {
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(27, 26, 26);
  -webkit-backdrop-filter: brightness(90%);
          backdrop-filter: brightness(90%);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table__carrito th {
  text-align: left;
}
.table__carrito th img {
  align-items: center;
  background-color: red;
}

.active {
  font-weight: bold;
}

:root {
  --color-header: rgb(89 171 70 / 38%);
  --color-bordes: rgba(58, 153, 35, 0.475);
  --color-search: rgb(255 255 255 / 75%);
  --color-toggle: rgba(101, 7, 110, 0.815) ;
}/*# sourceMappingURL=main.css.map */