@import "base/reset";
@import "base/typography";

@import "layout/header";

@import "pages/index";

@import "components/card";

:root {
   --color-header: rgb(89 171 70 / 38%);
   --color-bordes: rgba(58, 153, 35, 0.475);
   --color-search: rgb(255 255 255 / 75%);
   --color-toggle: rgba(101, 7, 110, 0.815);
}


.section-cards {
   background-color: rgb(150 149 183 / 42%);
   font-family: 'Changa', sans-serif;
   

   &__header {
      text-align: center;
      font-size: 25px;
   }
}
