.container-alta {
    padding: 10px;
    font-family: "Changa", sans-serif;

    h1, h2 {
        font-size: 35px;
        color: black;
    }

    div, input {
        width: 300px;
        display: block;
        margin-bottom: 1px;
        padding: 5px;
        border-radius: 4px;
        border: 2px solid var(--color-bordes);
        box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
        &:focus {
            background-color: var(--color-header);
        }
    }

    button {
        display: block;
        width: 80px;
        cursor: pointer;
        margin-bottom: 10px;
        width: 70px;
        height: 30px;
        border-radius: 4px;
        border: 2px solid var(--color-bordes);
        box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
        background-color: var(--color-toggle);
        color: var(--color-search);
        margin-top: 5px;

            &:hover {
                background-color: var(--color-header);
                color: black;
            }


    }


    input[type="checkbox"] {
        display: inline;
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

    form div {
        border: 1px solid crimson;
        background-color: gold;
        color: darkred;
        margin: 2px 0 10px 0;
        border-radius: 5px;
        display: none;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        width: 90%;
    }

    #listado-productos {
        width: 100%;
    }
}