.section-carrito {
    display: none;
    position: fixed;
    background-color: #f1f2f3;
    z-index: 1;
    top: 80px;
    left: auto;
    right: 0;
    bottom: 80px;
    width: 100%;
    box-shadow: .3em .3em 10em .3em rgba(0,0,0,1);
    font-family: "Changa", sans-serif;
    padding: 1rem;
    font-size: 1rem;

        @media (max-width: 768px ) {
            font-size: 0.8rem;
        }



    &--visible {
        display: block;
    }
}


.btn--cerrar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    top: 5px; right: 5px;
    

    & img {
        width: 15px;
        background-color: rgba(243, 23, 23, 0.38);


    }
    
}

.btn__enviarCarrito, .boton__carrito {
    width: 45px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid var(--color-bordes);
    //box-shadow: 0 4px 10px var(--color-bordes), 0 4px 8px var(--color-toggle);
    background-color: var(--color-toggle);
    color: var(--color-search);
    margin-top: 5px;

        &:hover {
            background-color: var(--color-header);
            color: black;
        }

}

.btn__enviarCarrito {
    position: absolute;
    bottom: 15px; right: 5px;
}

/* .container__table {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

    @media (max-width: 768px)  {
        width: 50vw;
    }  
} */

.table__carrito {
    table-layout: fixed;
    width: 100%;
    margin-block: 1em;
    //border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;

/*     & table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    } */

    & th, td {
        border-collapse: collapse;
	    background-color: rgba(255,255,255,0.2);
	    color: rgb(27, 26, 26);
        backdrop-filter: brightness(90%);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        }

     & th {
       text-align: left; 
    }

    & th {
        img {
            align-items: center;
            background-color: red;
        }
    }

/*     & thead {
	th {
		background-color: var(--color-header)
	}
    }

    & tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}

    td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
        }
    }
}  */
}
