
.section-cards {
    background: repeat url(/img/inicio/inicio-fondo-3.jpg);
    font-family: 'Changa', sans-serif;
    padding: 1em;

&__header {
      text-align: center;
      font-size: 35px;
   }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8em;
    justify-content: center;
    text-align: center;


        @media (max-width: 768px) {
            gap: 1em;
        }
    }