.main-nosotros {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Changa", sans-serif;
    background: no-repeat top url(/img/nosotros/nosotros-mediana.jpg);

&__header, &__article, &__aside, &__nav {   
    text-align: center;
    width: 600px;
    align-self: center;
        @media (max-width: 768px) {
            width:300px;
            margin-bottom: 10px;
        }

}

&__header {
    height: 80px;
    font-size: 20px;
}

&__article {
    height: 170px;
    /* margin-top: 10px; */
}

&__aside {
    height: fit-content;
    height: 160px;
}

/* &__nav {

}
 */
}