.main-nosotros {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Changa", sans-serif;
    background: no-repeat top url(/img/nosotros/nosotros-mediana-nueva.jpg);

&__header, &__article, &__aside, &__nav {   
    text-align: center;
    width: 600px;
    align-self: center;
    font-size: 19px;
        @media (max-width: 768px) {
            width:300px;
            margin-bottom: 10px;
            font-size: 16px;
        }

}

&__header {
    height: 80px;
}

&__article {
    height: 170px;
}

&__aside {
    height: fit-content;
    height: 160px;
}

span {
    font-size: 25px;
    font-weight: 700;
    color: var(--color-toggle);
    text-shadow: 0px 0px 10px;
}

}